*  {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


ol {
  margin: 2em;
}


body {
  background-color: #f5f5f5;
  color: #111111;
  font-family: sans-serif;
  font-size: 18px;
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


#page {
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}


.flag {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  float: left;
  margin: .4rem .5rem 2rem 0;
}
.flag svg {
  border: 2px solid #cccccc;
  opacity: .5;
}
.flag.active svg,
.flag:hover svg {
  border-color: #0000ff;
  opacity: 1;
}


#menu .link {
  color: #0000ff;
  cursor: pointer;
  float: left;
  clear: left;
  font-size: 2rem;
  padding: 0 2rem 1rem 0;
}
#menu .link.active,
#menu .link:hover {
  text-decoration: underline;
}
#menu-open, #menu-close {
  cursor: pointer;
  float: right;
  font-size: 3rem;
}


h1, h2, h3, h4, h5, h6 {
  padding-top: 2rem;
  clear: both;
}
h1 {
  border-bottom: 1px solid #111111;
}


p {
  line-height: 2rem;
  margin: 1rem 0 3rem;
}
p.intro {
  font-weight: bold;
}


#footer {
  color: #999999;
  font-family: monospace;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}
#footer a {
  color: #999999;
}


@media only screen and (min-width: 993px) {

  body {
    padding: 2rem;
  }

  .flag {
    float: right;
  }

  #menu .link {
    float: none;
  }

}
